<!DOCTYPE html>
<html>
<head>
    <title>API Documentation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">API Documentation</h1>

        <h2 class="mt-4">Get all tasks</h2>
        <p><strong>Endpoint:</strong> GET /tasks</p>
        <p><strong>Description:</strong> Get a list of all tasks.</p>

        <h2 class="mt-4">Get specific task</h2>
        <p><strong>Endpoint:</strong> GET /tasks/{task_id}</p>
        <p><strong>Description:</strong> Get a specific task by id.</p>

        <h2 class="mt-4">Get all categories</h2>
        <p><strong>Endpoint:</strong> GET /categories</p>
        <p><strong>Description:</strong> Get a list of all categories.</p>

        <h2 class="mt-4">Get specific category</h2>
        <p><strong>Endpoint:</strong> GET /categories/category</p>
        <p><strong>Description:</strong> Get a specific category by name.</p>

        <h2 class="mt-4">Create a new task</h2>
        <p><strong>Endpoint:</strong> POST /tasks</p>
        <p><strong>Description:</strong> Create a new task.</p>
        <p><strong>Request JSON:</strong></p>
        <pre>
        {
            "id": int,
            "title": str,
            "description": str
        }
        </pre>

        <h2 class="mt-4">Delete a specific task</h2>
        <p><strong>Endpoint:</strong> DELETE /tasks/{task_id}</p>
        <p><strong>Description:</strong> Delete a specific task by id.</p>
        <p><strong>Request Headers:</strong></p>
        <pre>
        {
            "Key": X-Secret-key,
            "Value": Testkey
        }
        </pre>

        <h2 class="mt-4">Update specific task</h2>
        <p><strong>Endpoint:</strong> PUT /tasks/{task_id}</p>
        <p><strong>Description:</strong> Update a specific task by id.</p>
        <p><strong>Request JSON: (optional to use all keys)</strong></p>
        <pre>
        {
            "id": int,
            "title": str,
            "description": str
        }
        </pre>

        <h2 class="mt-4">Change status of a task to complete</h2>
        <p><strong>Endpoint:</strong> PUT /tasks/{task_id}/complete</p>
        <p><strong>Description:</strong> Change the status of a specific task by id.</p>

        <h2 class="mt-4">Change status of a task to incomplete</h2>
        <p><strong>Endpoint:</strong> PUT /tasks/{task_id}/incomplete</p>
        <p><strong>Description:</strong> Change the status of a specific task by id.</p>

        <h2 class="mt-4">Add a new task via frontend</h2>
        <p><strong>Endpoint:</strong> GET /add</p>
        <p><strong>Description:</strong> Add a new task via the form.</p>

        <h2 class="mt-4">Add new key (important)</h2>
        <p><strong>Endpoint:</strong> PUT /tasks/{task_id}/important</p>
        <p><strong>Description:</strong> Adds a new key value "important".</p>
        <p><strong>Request JSON: (need to use "value" as a key)</strong></p>
        <pre>
        {
            "value": "important"
        }
        </pre>

        <h2 class="mt-4">Run test_app.py</h2>
        <p><strong>Endpoint:</strong> pytest test_app.py</p>
        <p><strong>Description:</strong> Perfom tests on the API app. Run it with terminal</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
