<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Add a new task</h1>
  <form action="/submit" method="post">
    <input type="number" name="id" placeholder="id">
    <input type="text" name="description" placeholder="description">
    <input type="text" name="category" placeholder="category">
    <input type="text" name="status" placeholder="status">
    <button type="submit">Add task</button>
  </form>
</body>
</html>